USE [master]
GO
/****** Object:  Database [ASY_MODBUS]    Script Date: 25.09.2026 19:11:48 ******/
CREATE DATABASE [ASY_MODBUS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ASY_MODBUS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ASY_MODBUS.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ASY_MODBUS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ASY_MODBUS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASY_MODBUS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASY_MODBUS]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 25.09.2026 19:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kullanici_kod] [nvarchar](20) NULL,
	[roller_id] [int] NULL,
	[ad] [nvarchar](50) NULL,
	[soyad] [nvarchar](50) NULL,
	[tckno] [nvarchar](11) NULL,
	[mail] [nvarchar](50) NULL,
	[sifre] [nvarchar](50) NULL,
	[cep_no] [nvarchar](15) NULL,
	[dogum_tarih] [datetime] NULL,
	[resim_yol] [nvarchar](max) NULL,
	[aktif_mi] [bit] NULL,
	[eklenme_tarih] [datetime] NULL,
	[ekleyen_id] [int] NULL,
	[ekleyen_ip] [nvarchar](20) NULL,
	[guncelleyen_id] [int] NULL,
	[guncelleyen_ip] [nvarchar](20) NULL,
	[guncellenme_tarih] [datetime] NULL,
 CONSTRAINT [PK_Kullanicilar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loglar]    Script Date: 25.09.2026 19:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loglar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ekleyen_id] [int] NULL,
	[eklenme_tarih] [datetime] NULL,
	[ekleyen_ip] [nvarchar](20) NULL,
	[url] [nvarchar](250) NULL,
	[tablo_ad] [nvarchar](20) NULL,
	[islem_ad] [nvarchar](100) NULL,
	[islem_tip] [nvarchar](20) NULL,
	[detay] [nvarchar](max) NULL,
	[aktif_mi] [bit] NULL,
	[guncelleyen_id] [int] NULL,
	[guncelleyen_ip] [nvarchar](20) NULL,
	[guncellenme_tarih] [datetime] NULL,
 CONSTRAINT [PK_Loglar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Makineler]    Script Date: 25.09.2026 19:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Makineler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[makine_ad] [nvarchar](20) NULL,
	[model_ad] [nvarchar](20) NULL,
	[entegrasyon_kod] [nvarchar](20) NULL,
	[gg_no] [nvarchar](10) NULL,
	[makine_no] [nvarchar](10) NULL,
	[band_no] [nvarchar](10) NULL,
	[sira_no] [int] NULL,
	[ip] [nvarchar](20) NULL,
	[mfg] [nvarchar](10) NULL,
	[durum_parametre_id] [int] NULL,
	[son_durum_tarih] [datetime] NULL,
	[rolecihazlar_id] [int] NULL,
	[role_kanal_no] [int] NULL,
	[aktif_mi] [bit] NULL,
	[eklenme_tarih] [datetime] NULL,
	[ekleyen_id] [int] NULL,
	[ekleyen_ip] [nvarchar](20) NULL,
	[guncelleyen_id] [int] NULL,
	[guncelleyen_ip] [nvarchar](120) NULL,
	[guncellenme_tarih] [datetime] NULL,
 CONSTRAINT [PK_Makineler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MakinelerLoglar]    Script Date: 25.09.2026 19:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MakinelerLoglar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[makineler_id] [int] NULL,
	[kaynak_parametre_id] [int] NULL,
	[onceki_durum_parametre_id] [int] NULL,
	[yeni_durum_parametre_id] [int] NULL,
	[islem_tur_parametre_id] [int] NULL,
	[islem_sonuc_parametre_id] [int] NULL,
	[detay] [nvarchar](max) NULL,
	[aktif_mi] [bit] NULL,
	[eklenme_tarih] [datetime] NULL,
	[ekleyen_id] [int] NULL,
	[ekleyen_ip] [nvarchar](20) NULL,
	[guncelleyen_id] [int] NULL,
	[guncelleyen_ip] [nvarchar](20) NULL,
	[guncellenme_tarih] [datetime] NULL,
 CONSTRAINT [PK_MakinelerLoglar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParametreGruplari]    Script Date: 25.09.2026 19:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParametreGruplari](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kod] [nvarchar](50) NOT NULL,
	[ad] [nvarchar](100) NOT NULL,
	[aciklama] [nvarchar](250) NULL,
	[sistem_mi] [bit] NOT NULL,
	[aktif_mi] [bit] NOT NULL,
	[ekleyen_id] [int] NULL,
	[ekleyen_ip] [nvarchar](20) NULL,
	[eklenme_tarih] [datetime] NOT NULL,
	[guncelleyen_id] [int] NULL,
	[guncelleyen_ip] [nvarchar](20) NULL,
	[guncellenme_tarih] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parametreler]    Script Date: 25.09.2026 19:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parametreler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kod] [nvarchar](50) NOT NULL,
	[ad] [nvarchar](100) NOT NULL,
	[aciklama] [nvarchar](250) NULL,
	[aktif_mi] [bit] NOT NULL,
	[ekleyen_id] [int] NULL,
	[ekleyen_ip] [nvarchar](20) NULL,
	[eklenme_tarih] [datetime] NOT NULL,
	[guncelleyen_id] [int] NULL,
	[guncelleyen_ip] [nvarchar](20) NULL,
	[guncellenme_tarih] [datetime] NULL,
	[parametre_grup_id] [int] NOT NULL,
	[sistem_mi] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleCihazlar]    Script Date: 25.09.2026 19:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleCihazlar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](100) NULL,
	[ip] [nvarchar](20) NULL,
	[port] [int] NULL,
	[kanal_sayisi] [int] NULL,
	[aktif_mi] [bit] NULL,
	[ekleyen_id] [int] NULL,
	[ekleyen_ip] [nvarchar](20) NULL,
	[eklenme_tarih] [datetime] NULL,
	[guncelleyen_id] [int] NULL,
	[guncelleyen_ip] [nvarchar](20) NULL,
	[guncellenme_tarih] [datetime] NULL,
 CONSTRAINT [PK_RoleCihazlar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roller]    Script Date: 25.09.2026 19:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roller](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NULL,
	[aktif_mi] [bit] NULL,
	[eklenme_tarih] [datetime] NULL,
	[ekleyen_id] [int] NULL,
	[ekleyen_ip] [nvarchar](20) NULL,
	[guncelleyen_id] [int] NULL,
	[guncelleyen_ip] [nvarchar](20) NULL,
	[guncellenme_tarih] [datetime] NULL,
 CONSTRAINT [PK_Roller] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolYetkiler]    Script Date: 25.09.2026 19:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolYetkiler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roller_id] [int] NULL,
	[sayfa_adi] [nvarchar](50) NULL,
	[getirme] [bit] NULL,
	[ekleme] [bit] NULL,
	[silme] [bit] NULL,
	[guncelleme] [bit] NULL,
	[aktif_mi] [bit] NULL,
	[eklenme_tarih] [datetime] NULL,
	[ekleyen_id] [int] NULL,
	[ekleyen_ip] [nvarchar](20) NULL,
	[guncelleyen_id] [int] NULL,
	[guncelleyen_ip] [nvarchar](20) NULL,
	[guncellenme_tarih] [datetime] NULL,
 CONSTRAINT [PK_RolYetkiler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[Loglar] ON 

INSERT [dbo].[Loglar] ([id], [ekleyen_id], [eklenme_tarih], [ekleyen_ip], [url], [tablo_ad], [islem_ad], [islem_tip], [detay], [aktif_mi], [guncelleyen_id], [guncelleyen_ip], [guncellenme_tarih]) VALUES (121, 1, CAST(N'2026-08-25T16:57:33.073' AS DateTime), N'::1', N'https://localhost:44364/Pages/Login.aspx', N'Sistem', N'Sisteme Giriş', N'Login', N'Sisteme başarılı giriş yapıldı.', 1, NULL, NULL, NULL)
INSERT [dbo].[Loglar] ([id], [ekleyen_id], [eklenme_tarih], [ekleyen_ip], [url], [tablo_ad], [islem_ad], [islem_tip], [detay], [aktif_mi], [guncelleyen_id], [guncelleyen_ip], [guncellenme_tarih]) VALUES (122, 1, CAST(N'2026-08-25T16:58:04.510' AS DateTime), N'::1', N'https://localhost:44364/Pages/KullaniciDüzenle.aspx?kullanici_id=11', N'Kullanicilar', N'Kullanicilar tablosunda Guncelle işlemi', N'Update', N'Kullanicilar tablosunda Guncelle işlemi başarıyla tamamlandı.', 1, NULL, NULL, NULL)
INSERT [dbo].[Loglar] ([id], [ekleyen_id], [eklenme_tarih], [ekleyen_ip], [url], [tablo_ad], [islem_ad], [islem_tip], [detay], [aktif_mi], [guncelleyen_id], [guncelleyen_ip], [guncellenme_tarih]) VALUES (123, 1, CAST(N'2026-08-25T17:00:00.473' AS DateTime), N'::1', N'https://localhost:44364/Pages/KullaniciEkle.aspx', N'Kullanicilar', N'Kullanicilar tablosunda Ekle işlemi', N'Insert', N'Kullanicilar tablosunda Ekle işlemi başarıyla tamamlandı.', 1, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Loglar] OFF
GO
SET IDENTITY_INSERT [dbo].[Makineler] ON 

INSERT [dbo].[Makineler] ([id], [makine_ad], [model_ad], [entegrasyon_kod], [gg_no], [makine_no], [band_no], [sira_no], [ip], [mfg], [durum_parametre_id], [son_durum_tarih], [rolecihazlar_id], [role_kanal_no], [aktif_mi], [eklenme_tarih], [ekleyen_id], [ekleyen_ip], [guncelleyen_id], [guncelleyen_ip], [guncellenme_tarih]) VALUES (1, N'Mekke', N'NSVRI22', N'NSVRI22', N'14', N'17', N'1', 1, N'192.168.10.27', N'292', 1, CAST(N'2026-09-17T21:26:02.047' AS DateTime), 1, 1, 1, CAST(N'2026-08-26T02:42:56.900' AS DateTime), 1, N'::1', 1, N'::1', CAST(N'2026-09-17T21:26:02.047' AS DateTime))
INSERT [dbo].[Makineler] ([id], [makine_ad], [model_ad], [entegrasyon_kod], [gg_no], [makine_no], [band_no], [sira_no], [ip], [mfg], [durum_parametre_id], [son_durum_tarih], [rolecihazlar_id], [role_kanal_no], [aktif_mi], [eklenme_tarih], [ekleyen_id], [ekleyen_ip], [guncelleyen_id], [guncelleyen_ip], [guncellenme_tarih]) VALUES (2, N'Pekin', N'NSVRI22', N'NSVRI22', N'14', N'18', N'1', 2, N'192.168.10.28', N'293', 1, CAST(N'2026-09-17T19:11:07.067' AS DateTime), 1, 2, 1, CAST(N'2026-08-26T02:42:56.900' AS DateTime), 1, N'::1', 1, N'::1', CAST(N'2026-09-17T19:11:07.067' AS DateTime))
INSERT [dbo].[Makineler] ([id], [makine_ad], [model_ad], [entegrasyon_kod], [gg_no], [makine_no], [band_no], [sira_no], [ip], [mfg], [durum_parametre_id], [son_durum_tarih], [rolecihazlar_id], [role_kanal_no], [aktif_mi], [eklenme_tarih], [ekleyen_id], [ekleyen_ip], [guncelleyen_id], [guncelleyen_ip], [guncellenme_tarih]) VALUES (3, N'Menekşe', N'NSSRI12', N'NSSRI12', N'12', N'19', N'1', 3, N'192.168.10.29', N'457', 1, NULL, 1, 3, 1, CAST(N'2026-08-26T02:42:56.900' AS DateTime), 1, N'::1', 1, N'::1', CAST(N'2026-09-16T18:38:01.413' AS DateTime))
SET IDENTITY_INSERT [dbo].[Makineler] OFF
GO
SET IDENTITY_INSERT [dbo].[MakinelerLoglar] ON 

INSERT [dbo].[MakinelerLoglar] ([id], [makineler_id], [kaynak_parametre_id], [onceki_durum_parametre_id], [yeni_durum_parametre_id], [islem_tur_parametre_id], [islem_sonuc_parametre_id], [detay], [aktif_mi], [eklenme_tarih], [ekleyen_id], [ekleyen_ip], [guncelleyen_id], [guncelleyen_ip], [guncellenme_tarih]) VALUES (1, 1, 6, 1, 2, 9, 4, N'Makine web paneli üzerinden durduruldu.', 1, CAST(N'2026-09-15T01:07:54.920' AS DateTime), 1, N'::1', NULL, NULL, NULL)
INSERT [dbo].[MakinelerLoglar] ([id], [makineler_id], [kaynak_parametre_id], [onceki_durum_parametre_id], [yeni_durum_parametre_id], [islem_tur_parametre_id], [islem_sonuc_parametre_id], [detay], [aktif_mi], [eklenme_tarih], [ekleyen_id], [ekleyen_ip], [guncelleyen_id], [guncelleyen_ip], [guncellenme_tarih]) VALUES (2, 18, 6, 1, 2, 9, 4, N'Makine web paneli üzerinden durduruldu.', 1, CAST(N'2026-09-15T02:01:38.990' AS DateTime), 1, N'::1', NULL, NULL, NULL)
INSERT [dbo].[MakinelerLoglar] ([id], [makineler_id], [kaynak_parametre_id], [onceki_durum_parametre_id], [yeni_durum_parametre_id], [islem_tur_parametre_id], [islem_sonuc_parametre_id], [detay], [aktif_mi], [eklenme_tarih], [ekleyen_id], [ekleyen_ip], [guncelleyen_id], [guncelleyen_ip], [guncellenme_tarih]) VALUES (3, 2, 6, 1, 2, 9, 4, N'Makine web paneli üzerinden durduruldu.', 1, CAST(N'2026-09-15T02:07:43.580' AS DateTime), 1, N'::1', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[MakinelerLoglar] OFF
GO
SET IDENTITY_INSERT [dbo].[ParametreGruplari] ON 

INSERT [dbo].[ParametreGruplari] ([id], [kod], [ad], [aciklama], [sistem_mi], [aktif_mi], [ekleyen_id], [ekleyen_ip], [eklenme_tarih], [guncelleyen_id], [guncelleyen_ip], [guncellenme_tarih]) VALUES (1, N'MAKINE_DURUMU', N'Makine Durumu', N'Makine çalışma durumları', 1, 1, 0, N'SYSTEM', CAST(N'2026-09-18T02:07:36.437' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[ParametreGruplari] ([id], [kod], [ad], [aciklama], [sistem_mi], [aktif_mi], [ekleyen_id], [ekleyen_ip], [eklenme_tarih], [guncelleyen_id], [guncelleyen_ip], [guncellenme_tarih]) VALUES (2, N'ISLEM_SONUCU', N'İslem Sonucu', N'İslem sonuçları', 1, 1, 0, N'SYSTEM', CAST(N'2026-09-18T02:07:36.437' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[ParametreGruplari] ([id], [kod], [ad], [aciklama], [sistem_mi], [aktif_mi], [ekleyen_id], [ekleyen_ip], [eklenme_tarih], [guncelleyen_id], [guncelleyen_ip], [guncellenme_tarih]) VALUES (3, N'ISLEM_KAYNAGI', N'İslem Kaynağı', N'İslemin kaynağı', 1, 1, 0, N'SYSTEM', CAST(N'2026-09-18T02:07:36.437' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ParametreGruplari] OFF
GO
SET IDENTITY_INSERT [dbo].[Parametreler] ON 

INSERT [dbo].[Parametreler] ([id], [kod], [ad], [aciklama], [aktif_mi], [ekleyen_id], [ekleyen_ip], [eklenme_tarih], [guncelleyen_id], [guncelleyen_ip], [guncellenme_tarih], [parametre_grup_id], [sistem_mi]) VALUES (1, N'CALISIYOR', N'Çalışıyor', N'', 1, 0, N'SYSTEM', CAST(N'2026-09-18T01:30:46.760' AS DateTime), 1, N'::1', CAST(N'2026-09-18T02:34:52.317' AS DateTime), 1, 1)
INSERT [dbo].[Parametreler] ([id], [kod], [ad], [aciklama], [aktif_mi], [ekleyen_id], [ekleyen_ip], [eklenme_tarih], [guncelleyen_id], [guncelleyen_ip], [guncellenme_tarih], [parametre_grup_id], [sistem_mi]) VALUES (2, N'DURDURULDU', N'Durduruldu', NULL, 1, 0, N'SYSTEM', CAST(N'2026-09-18T01:30:46.760' AS DateTime), NULL, NULL, NULL, 1, 1)
INSERT [dbo].[Parametreler] ([id], [kod], [ad], [aciklama], [aktif_mi], [ekleyen_id], [ekleyen_ip], [eklenme_tarih], [guncelleyen_id], [guncelleyen_ip], [guncellenme_tarih], [parametre_grup_id], [sistem_mi]) VALUES (3, N'BAGLANTI_YOK', N'Bağlantı Yok', NULL, 1, 0, N'SYSTEM', CAST(N'2026-09-18T01:30:46.760' AS DateTime), NULL, NULL, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[Parametreler] OFF
GO
SET IDENTITY_INSERT [dbo].[RoleCihazlar] ON 

INSERT [dbo].[RoleCihazlar] ([id], [ad], [ip], [port], [kanal_sayisi], [aktif_mi], [ekleyen_id], [ekleyen_ip], [eklenme_tarih], [guncelleyen_id], [guncelleyen_ip], [guncellenme_tarih]) VALUES (1, N'HW-584 Röle 1', N'192.168.5.194', 30000, 16, 1, 1, N'::1', CAST(N'2026-09-16T17:30:26.093' AS DateTime), 1, N'::1', CAST(N'2026-09-17T21:57:32.873' AS DateTime))
INSERT [dbo].[RoleCihazlar] ([id], [ad], [ip], [port], [kanal_sayisi], [aktif_mi], [ekleyen_id], [ekleyen_ip], [eklenme_tarih], [guncelleyen_id], [guncelleyen_ip], [guncellenme_tarih]) VALUES (2, N'HW-584 Röle 2', N'192.168.5.190', 8080, 16, 1, 1, N'::1', CAST(N'2026-09-17T21:57:48.877' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[RoleCihazlar] OFF
GO
SET IDENTITY_INSERT [dbo].[Roller] ON 

INSERT [dbo].[Roller] ([id], [ad], [aktif_mi], [eklenme_tarih], [ekleyen_id], [ekleyen_ip], [guncelleyen_id], [guncelleyen_ip], [guncellenme_tarih]) VALUES (1, N'Super Admin', 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Roller] ([id], [ad], [aktif_mi], [eklenme_tarih], [ekleyen_id], [ekleyen_ip], [guncelleyen_id], [guncelleyen_ip], [guncellenme_tarih]) VALUES (6, N'Saha Operatoru', 1, CAST(N'2026-08-28T01:46:46.900' AS DateTime), 1, N'::1', 4, N'::1', CAST(N'2026-08-28T02:37:50.803' AS DateTime))
SET IDENTITY_INSERT [dbo].[Roller] OFF
GO
SET IDENTITY_INSERT [dbo].[RolYetkiler] ON 

INSERT [dbo].[RolYetkiler] ([id], [roller_id], [sayfa_adi], [getirme], [ekleme], [silme], [guncelleme], [aktif_mi], [eklenme_tarih], [ekleyen_id], [ekleyen_ip], [guncelleyen_id], [guncelleyen_ip], [guncellenme_tarih]) VALUES (1, 1, N'KullaniciDuzenle.aspx', 1, 1, 1, 1, 1, CAST(N'2026-08-27T23:02:32.783' AS DateTime), 1, N'127.0.0.1', 1, N'::1', CAST(N'2026-09-18T02:15:33.960' AS DateTime))
INSERT [dbo].[RolYetkiler] ([id], [roller_id], [sayfa_adi], [getirme], [ekleme], [silme], [guncelleme], [aktif_mi], [eklenme_tarih], [ekleyen_id], [ekleyen_ip], [guncelleyen_id], [guncelleyen_ip], [guncellenme_tarih]) VALUES (2, 1, N'KullaniciEkle.aspx', 1, 1, 1, 1, 1, CAST(N'2026-08-27T23:02:32.783' AS DateTime), 1, N'127.0.0.1', 1, N'::1', CAST(N'2026-09-18T02:15:33.963' AS DateTime))
INSERT [dbo].[RolYetkiler] ([id], [roller_id], [sayfa_adi], [getirme], [ekleme], [silme], [guncelleme], [aktif_mi], [eklenme_tarih], [ekleyen_id], [ekleyen_ip], [guncelleyen_id], [guncelleyen_ip], [guncellenme_tarih]) VALUES (3, 1, N'KullaniciListele.aspx', 1, 1, 1, 1, 1, CAST(N'2026-08-27T23:02:32.783' AS DateTime), 1, N'127.0.0.1', 1, N'::1', CAST(N'2026-09-18T02:15:33.963' AS DateTime))
SET IDENTITY_INSERT [dbo].[RolYetkiler] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ParametreGruplari_Kod]    Script Date: 25.09.2026 19:11:49 ******/
ALTER TABLE [dbo].[ParametreGruplari] ADD  CONSTRAINT [UQ_ParametreGruplari_Kod] UNIQUE NONCLUSTERED 
(
	[kod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Parametreler_Grup_Kod]    Script Date: 25.09.2026 19:11:49 ******/
ALTER TABLE [dbo].[Parametreler] ADD  CONSTRAINT [UQ_Parametreler_Grup_Kod] UNIQUE NONCLUSTERED 
(
	[parametre_grup_id] ASC,
	[kod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  CONSTRAINT [DF_Kullanicilar_kullanici_aktif_mi]  DEFAULT ((1)) FOR [aktif_mi]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  CONSTRAINT [DF_Kullanicilar_kullanici_kayit_tarihi]  DEFAULT (getdate()) FOR [eklenme_tarih]
GO
ALTER TABLE [dbo].[ParametreGruplari] ADD  CONSTRAINT [DF_ParametreGruplari_sistem_mi]  DEFAULT ((0)) FOR [sistem_mi]
GO
ALTER TABLE [dbo].[ParametreGruplari] ADD  CONSTRAINT [DF_ParametreGruplari_aktif_mi]  DEFAULT ((1)) FOR [aktif_mi]
GO
ALTER TABLE [dbo].[ParametreGruplari] ADD  CONSTRAINT [DF_ParametreGruplari_eklenme_tarih]  DEFAULT (getdate()) FOR [eklenme_tarih]
GO
ALTER TABLE [dbo].[Parametreler] ADD  CONSTRAINT [DF_Parametreler_aktif_mi]  DEFAULT ((1)) FOR [aktif_mi]
GO
ALTER TABLE [dbo].[Parametreler] ADD  CONSTRAINT [DF_Parametreler_eklenme_tarih]  DEFAULT (getdate()) FOR [eklenme_tarih]
GO
ALTER TABLE [dbo].[Parametreler] ADD  CONSTRAINT [DF_Parametreler_sistem_mi]  DEFAULT ((0)) FOR [sistem_mi]
GO
ALTER TABLE [dbo].[Kullanicilar]  WITH CHECK ADD  CONSTRAINT [FK_Kullanicilar_Roller] FOREIGN KEY([roller_id])
REFERENCES [dbo].[Roller] ([id])
GO
ALTER TABLE [dbo].[Kullanicilar] CHECK CONSTRAINT [FK_Kullanicilar_Roller]
GO
ALTER TABLE [dbo].[Makineler]  WITH CHECK ADD  CONSTRAINT [FK_Makineler_DurumParametre] FOREIGN KEY([durum_parametre_id])
REFERENCES [dbo].[Parametreler] ([id])
GO
ALTER TABLE [dbo].[Makineler] CHECK CONSTRAINT [FK_Makineler_DurumParametre]
GO
ALTER TABLE [dbo].[MakinelerLoglar]  WITH CHECK ADD  CONSTRAINT [FK_MakinelerLoglar_IslemSonucParametre] FOREIGN KEY([islem_sonuc_parametre_id])
REFERENCES [dbo].[Parametreler] ([id])
GO
ALTER TABLE [dbo].[MakinelerLoglar] CHECK CONSTRAINT [FK_MakinelerLoglar_IslemSonucParametre]
GO
ALTER TABLE [dbo].[MakinelerLoglar]  WITH CHECK ADD  CONSTRAINT [FK_MakinelerLoglar_IslemTurParametre] FOREIGN KEY([islem_tur_parametre_id])
REFERENCES [dbo].[Parametreler] ([id])
GO
ALTER TABLE [dbo].[MakinelerLoglar] CHECK CONSTRAINT [FK_MakinelerLoglar_IslemTurParametre]
GO
ALTER TABLE [dbo].[MakinelerLoglar]  WITH CHECK ADD  CONSTRAINT [FK_MakinelerLoglar_KaynakParametre] FOREIGN KEY([kaynak_parametre_id])
REFERENCES [dbo].[Parametreler] ([id])
GO
ALTER TABLE [dbo].[MakinelerLoglar] CHECK CONSTRAINT [FK_MakinelerLoglar_KaynakParametre]
GO
ALTER TABLE [dbo].[MakinelerLoglar]  WITH CHECK ADD  CONSTRAINT [FK_MakinelerLoglar_OncekiDurumParametre] FOREIGN KEY([onceki_durum_parametre_id])
REFERENCES [dbo].[Parametreler] ([id])
GO
ALTER TABLE [dbo].[MakinelerLoglar] CHECK CONSTRAINT [FK_MakinelerLoglar_OncekiDurumParametre]
GO
ALTER TABLE [dbo].[MakinelerLoglar]  WITH CHECK ADD  CONSTRAINT [FK_MakinelerLoglar_YeniDurumParametre] FOREIGN KEY([yeni_durum_parametre_id])
REFERENCES [dbo].[Parametreler] ([id])
GO
ALTER TABLE [dbo].[MakinelerLoglar] CHECK CONSTRAINT [FK_MakinelerLoglar_YeniDurumParametre]
GO
ALTER TABLE [dbo].[Parametreler]  WITH CHECK ADD  CONSTRAINT [FK_Parametreler_ParametreGruplari] FOREIGN KEY([parametre_grup_id])
REFERENCES [dbo].[ParametreGruplari] ([id])
GO
ALTER TABLE [dbo].[Parametreler] CHECK CONSTRAINT [FK_Parametreler_ParametreGruplari]
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_CEPNO_VAR_MI]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Kullanicilar_CEPNO_VAR_MI]

@cep_no NVARCHAR(15)

AS
BEGIN

SELECT COUNT(*)
FROM Kullanicilar
WHERE cep_no = @cep_no


END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_DOLDUR]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Kullanicilar_DOLDUR]
	
	@id INT

AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT
        id,
		kullanici_kod,
        roller_id,
        ad,
        soyad,
        tckno,
        mail,
        sifre,
        cep_no,
        dogum_tarih,
        aktif_mi,
        resim_yol,
		ekleyen_id,
		ekleyen_ip,
		eklenme_tarih,
		guncelleyen_id,
		guncelleyen_ip,
		guncellenme_tarih

    FROM kullanicilar

    WHERE id = @id;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_EKLE]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Kullanicilar_EKLE]

@roller_id INT,
@ad NVARCHAR(50),
@soyad NVARCHAR(50),
@tckno NVARCHAR(11),
@mail NVARCHAR(50),
@sifre NVARCHAR(50),
@cep_no NVARCHAR(15),
@dogum_tarih DATETIME,
@resim_yol NVARCHAR(MAX),	
@aktif_mi BIT,
@ekleyen_id INT,
@ekleyen_ip NVARCHAR(20)


AS
BEGIN

	INSERT INTO Kullanicilar
(
    roller_id,
    ad,
    soyad,
    tckno,
    mail,
    sifre,
    cep_no,
    dogum_tarih,
    resim_yol,
	aktif_mi,
	eklenme_tarih,
	ekleyen_id,
	ekleyen_ip,
	guncelleyen_id,
	guncelleyen_ip,
	guncellenme_tarih
)
VALUES
(
    @roller_id,
    @ad,
    @soyad,
    @tckno,
    @mail,
    @sifre,
    @cep_no,
    @dogum_tarih,
	@resim_yol,
    @aktif_mi,
	GETDATE(),
	@ekleyen_id,
	@ekleyen_ip,
	null,
	null,
	null

);

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_GUNCELLE]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Kullanicilar_GUNCELLE]
	
@id INT,
@roller_id INT,
@ad NVARCHAR(50),
@soyad NVARCHAR(50),
@tckno NVARCHAR(11),
@mail NVARCHAR(50),
@sifre NVARCHAR(50),
@cep_no NVARCHAR(15),
@dogum_tarih DATE,
@resim_yol NVARCHAR(MAX),
@guncelleyen_id INT,
@guncelleyen_ip NVARCHAR(20)

AS
BEGIN

	UPDATE Kullanicilar
	SET 

    roller_id=@roller_id,
    ad=@ad,
    soyad= @soyad,
    tckno=@tckno,
    mail=@mail,
    sifre=@sifre,
    cep_no=@cep_no,
    dogum_tarih=@dogum_tarih,
    resim_yol=@resim_yol,
	guncelleyen_id=@guncelleyen_id,
	guncelleyen_ip=@guncelleyen_ip,
	guncellenme_tarih=GETDATE()
	WHERE 
	id=@id;


    
   
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_KULLANICI_KOD_OLUSTUR]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Kullanicilar_KULLANICI_KOD_OLUSTUR]
	
	@id INT,
    @kullanici_kod NVARCHAR(20)

AS
BEGIN

	UPDATE Kullanicilar
    SET kullanici_kod = @kullanici_kod
    WHERE id = @id;
  

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_MAIL_CEPNO_KONTROL]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Kullanicilar_MAIL_CEPNO_KONTROL]
	 
	  @mail NVARCHAR(50),
      @cep_no NVARCHAR(15)

AS
BEGIN
	

	SET NOCOUNT ON;
	SELECT
        id,
        ad,
        soyad
    FROM Kullanicilar
    WHERE mail = @mail
      AND cep_no = @cep_no
      AND aktif_mi = 1;

	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_MAIL_VAR_MI]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[SP_Kullanicilar_MAIL_VAR_MI]
 
@mail NVARCHAR(50)

AS
BEGIN

		SELECT COUNT(*)
        FROM kullanicilar
        WHERE mail = @mail

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_MAX_ID_GETIR]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Kullanicilar_MAX_ID_GETIR]
	

AS
BEGIN

	SELECT ISNULL(MAX(id), 0)
    FROM Kullanicilar;
 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_PROFIL_GUNCELLE]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Kullanicilar_PROFIL_GUNCELLE]
	
		
@id INT,
@ad NVARCHAR(50),
@soyad NVARCHAR(50),
@mail NVARCHAR(50),
@sifre NVARCHAR(50),
@cep_no NVARCHAR(15),
@resim_yol NVARCHAR(MAX)

AS
BEGIN
	
	UPDATE Kullanicilar
	SET 

    ad=@ad,
    soyad= @soyad,
    mail=@mail,
    sifre=@sifre,
    cep_no=@cep_no,
    resim_yol=@resim_yol
	WHERE 
	id=@id;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_SIFRE_GUNCELLE]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Kullanicilar_SIFRE_GUNCELLE]
	@id INT,
    @sifre NVARCHAR(50)

AS
BEGIN
	

	UPDATE Kullanicilar
    SET sifre = @sifre
    WHERE id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_SIFRE_KONTROL]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Kullanicilar_SIFRE_KONTROL]
	@mail NVARCHAR(50),
    @sifre NVARCHAR(50)

AS
BEGIN


	SET NOCOUNT ON;

	SELECT *
    FROM Kullanicilar
	WHERE mail = @mail
      AND sifre = @sifre
      AND aktif_mi = 1;


END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_SIL]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Kullanicilar_SIL] 
	
	@id INT,
    @guncelleyen_id INT,
    @guncelleyen_ip NVARCHAR(20)

AS
BEGIN
	

	UPDATE Kullanicilar
    SET
        aktif_mi = 0,
        guncelleyen_id = @guncelleyen_id,
        guncelleyen_ip = @guncelleyen_ip,
        guncellenme_tarih = GETDATE()
    WHERE id = @id;
  

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_TCKNO_VAR_MI]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Kullanicilar_TCKNO_VAR_MI]

@tckno NVARCHAR(11)

AS
BEGIN

SELECT COUNT(*)
FROM Kullanicilar
WHERE tckno = @tckno

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kullanicilar_TUMUNU_GETIR]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Kullanicilar_TUMUNU_GETIR]


AS
BEGIN
	
	SET NOCOUNT ON;

	 SELECT *
     FROM Kullanicilar
	 WHERE aktif_mi=1;
  
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Loglar_DOLDUR]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Loglar_DOLDUR]
	
	 @id INT

AS
BEGIN
	
	SELECT *
    FROM dbo.Loglar
    WHERE id = @id;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Loglar_EKLE]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Loglar_EKLE]

 @url NVARCHAR(250),
 @tablo_ad NVARCHAR(20),
 @islem_ad NVARCHAR(100),
 @islem_tip NVARCHAR(20),
 @detay NVARCHAR(MAX),
 @aktif_mi BIT,
 @ekleyen_id INT,
 @ekleyen_ip NVARCHAR(20)

AS
BEGIN
 INSERT INTO dbo.Loglar
    (
        url,
        tablo_ad,
        islem_ad,
        islem_tip,
        detay,
        aktif_mi,
        eklenme_tarih,
        ekleyen_id,
        ekleyen_ip,
        guncelleyen_id,
        guncelleyen_ip,
        guncellenme_tarih
    )
    VALUES
    (
        @url,
        @tablo_ad,
        @islem_ad,
        @islem_tip,
        @detay,
        @aktif_mi,
        GETDATE(),
        @ekleyen_id,
        @ekleyen_ip,
        NULL,
        NULL,
        NULL
    );
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Loglar_TUMUNU_GETIR]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Loglar_TUMUNU_GETIR]

AS
BEGIN
	SELECT *
    FROM Loglar
	WHERE aktif_mi=1
    ORDER BY eklenme_tarih DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Makineler_DOLDUR]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Makineler_DOLDUR]

 @id INT

AS
BEGIN
	
	SELECT *
    FROM dbo.Makineler
    WHERE id = @id;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Makineler_DURUM_GUNCELLE]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SP_Makineler_DURUM_GUNCELLE]
    @id INT,
    @durum_parametre_id INT,
    @guncelleyen_id INT,
    @guncelleyen_ip NVARCHAR(50)
AS
BEGIN
    UPDATE dbo.Makineler
    SET
        durum_parametre_id = @durum_parametre_id,
        son_durum_tarih = GETDATE(),
        guncelleyen_id = NULLIF(@guncelleyen_id, 0),
        guncelleyen_ip = @guncelleyen_ip,
        guncellenme_tarih = GETDATE()
    WHERE id = @id
      AND aktif_mi = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Makineler_EKLE]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Makineler_EKLE]

	@model_ad NVARCHAR(20),
	@makine_ad NVARCHAR(20),
    @entegrasyon_kod NVARCHAR(20),
    @gg_no NVARCHAR(10),
    @makine_no NVARCHAR(10),
    @band_no NVARCHAR(10),
	@sira_no INT,
    @ip NVARCHAR(20),
    @mfg NVARCHAR(10),
	@rolecihazlar_id INT,
	@role_kanal_no INT,
    @aktif_mi BIT,
    @ekleyen_id INT,
    @ekleyen_ip NVARCHAR(20)

AS
BEGIN
	
	INSERT INTO dbo.Makineler
    (
        model_ad,
		makine_ad,
        entegrasyon_kod,
        gg_no,
        makine_no,
        band_no,
		sira_no,
        ip,
        mfg,
		rolecihazlar_id,
		role_kanal_no,
        aktif_mi,
        eklenme_tarih,
        ekleyen_id,
        ekleyen_ip
    )
    VALUES
    (
        @model_ad,
		@makine_ad,
        @entegrasyon_kod,
        @gg_no,
        @makine_no,
        @band_no,
		@sira_no,
        @ip,
        @mfg,
		@rolecihazlar_id,
		@role_kanal_no,
        @aktif_mi,
        GETDATE(),
        @ekleyen_id,
        @ekleyen_ip
    );

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Makineler_GUNCELLE]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Makineler_GUNCELLE]

	@id INT,
	@makine_ad NVARCHAR(20),
    @model_ad NVARCHAR(20),
    @entegrasyon_kod NVARCHAR(20),
    @gg_no NVARCHAR(10),
    @makine_no NVARCHAR(10),
    @band_no NVARCHAR(10),
	@sira_no INT,
    @ip NVARCHAR(20),
    @mfg NVARCHAR(10),
	@rolecihazlar_id INT,
	@role_kanal_no INT,
    @guncelleyen_id INT,
    @guncelleyen_ip NVARCHAR(20)

AS
BEGIN

		UPDATE dbo.Makineler
		SET
        makine_ad=@makine_ad,
		model_ad = @model_ad,
        entegrasyon_kod = @entegrasyon_kod,
        gg_no = @gg_no,
        makine_no = @makine_no,
        band_no = @band_no,
		sira_no = @sira_no,
        ip = @ip,
        mfg = @mfg,
		rolecihazlar_id = @rolecihazlar_id,
		role_kanal_no = @role_kanal_no,
        guncelleyen_id = @guncelleyen_id,
        guncelleyen_ip = @guncelleyen_ip,
        guncellenme_tarih = GETDATE()
		WHERE id = @id;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Makineler_KULLANILAN_KANALLARI_GETIR]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Makineler_KULLANILAN_KANALLARI_GETIR]
    @rolecihazlar_id INT,
    @id INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT role_kanal_no
    FROM dbo.Makineler
    WHERE aktif_mi = 1
      AND rolecihazlar_id = @rolecihazlar_id
      AND role_kanal_no IS NOT NULL
      AND (@id IS NULL OR id <> @id);
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Makineler_MAX_SIRA_GETIR]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Makineler_MAX_SIRA_GETIR]
    @band_no NVARCHAR(10)
AS
BEGIN
    SELECT ISNULL(MAX(sira_no), 0)
    FROM Makineler
    WHERE band_no = @band_no
      AND aktif_mi = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Makineler_SIL]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Makineler_SIL]
	
	@id INT,
    @guncelleyen_id INT,
    @guncelleyen_ip NVARCHAR(20)

AS
BEGIN

	UPDATE Makineler
    SET
        aktif_mi = 0,
        guncelleyen_id = @guncelleyen_id,
        guncelleyen_ip = @guncelleyen_ip,
        guncellenme_tarih = GETDATE()
		WHERE id = @id;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Makineler_SIRA_GUNCELLE]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Makineler_SIRA_GUNCELLE]
    @id INT,
    @sira_no INT,
    @guncelleyen_id INT,
    @guncelleyen_ip NVARCHAR(20)
AS
BEGIN

    UPDATE dbo.Makineler
    SET
        sira_no = @sira_no,
        guncelleyen_id = @guncelleyen_id,
        guncelleyen_ip = @guncelleyen_ip,
        guncellenme_tarih = GETDATE()
    WHERE id = @id
      AND aktif_mi = 1

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Makineler_TUMUNU_GETIR]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SP_Makineler_TUMUNU_GETIR]
AS
BEGIN
    SELECT
        M.*,
        P.kod AS durum_kod,
        P.ad AS durum_ad
    FROM dbo.Makineler M
    LEFT JOIN dbo.Parametreler P
        ON M.durum_parametre_id = P.id
    WHERE M.aktif_mi = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_MakinelerLoglar_DOLDUR]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_MakinelerLoglar_DOLDUR]
    @id INT
AS
BEGIN

    SELECT *
    FROM dbo.MakinelerLoglar
    WHERE id = @id;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_MakinelerLoglar_EKLE]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SP_MakinelerLoglar_EKLE]
    @makineler_id INT,
    @detay NVARCHAR(MAX) = NULL,
    @kaynak_parametre_id INT,
    @onceki_durum_parametre_id INT = NULL,
    @yeni_durum_parametre_id INT,
    @islem_tur_parametre_id INT,
    @islem_sonuc_parametre_id INT,
    @aktif_mi BIT,
    @ekleyen_id INT = NULL,
    @ekleyen_ip NVARCHAR(20) = NULL
AS
BEGIN
    INSERT INTO dbo.MakinelerLoglar
    (
        makineler_id,
        detay,
        kaynak_parametre_id,
        onceki_durum_parametre_id,
        yeni_durum_parametre_id,
        islem_tur_parametre_id,
        islem_sonuc_parametre_id,
        aktif_mi,
        eklenme_tarih,
        ekleyen_id,
        ekleyen_ip
    )
    VALUES
    (
        @makineler_id,
        @detay,
        @kaynak_parametre_id,
        @onceki_durum_parametre_id,
        @yeni_durum_parametre_id,
        @islem_tur_parametre_id,
        @islem_sonuc_parametre_id,
        @aktif_mi,
        GETDATE(),
        NULLIF(@ekleyen_id, 0),
        @ekleyen_ip
    );
END
GO
/****** Object:  StoredProcedure [dbo].[SP_MakinelerLoglar_SIL]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_MakinelerLoglar_SIL]
    @id INT,
    @guncelleyen_id INT,
    @guncelleyen_ip NVARCHAR(20)
AS
BEGIN

    UPDATE dbo.MakinelerLoglar
    SET
        aktif_mi = 0,
        guncelleyen_id = @guncelleyen_id,
        guncelleyen_ip = @guncelleyen_ip,
        guncellenme_tarih = GETDATE()
    WHERE id = @id;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_MakinelerLoglar_SON_KAYIT_GETIR]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SP_MakinelerLoglar_SON_KAYIT_GETIR]
    @makineler_id INT
AS
BEGIN
    SELECT TOP 1
        ML.*,
        PK.ad AS kaynak_ad,
        PK.kod AS kaynak_kod,
        POD.ad AS onceki_durum_ad,
        POD.kod AS onceki_durum_kod,
        PYD.ad AS yeni_durum_ad,
        PYD.kod AS yeni_durum_kod,
        PIT.ad AS islem_tur_ad,
        PIT.kod AS islem_tur_kod,
        PIS.ad AS islem_sonuc_ad,
        PIS.kod AS islem_sonuc_kod
    FROM dbo.MakinelerLoglar ML
    LEFT JOIN dbo.Parametreler PK
        ON ML.kaynak_parametre_id = PK.id
    LEFT JOIN dbo.Parametreler POD
        ON ML.onceki_durum_parametre_id = POD.id
    LEFT JOIN dbo.Parametreler PYD
        ON ML.yeni_durum_parametre_id = PYD.id
    LEFT JOIN dbo.Parametreler PIT
        ON ML.islem_tur_parametre_id = PIT.id
    LEFT JOIN dbo.Parametreler PIS
        ON ML.islem_sonuc_parametre_id = PIS.id
    WHERE ML.makineler_id = @makineler_id
      AND ML.aktif_mi = 1
    ORDER BY ML.id DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_MakinelerLoglar_TUMUNU_GETIR]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SP_MakinelerLoglar_TUMUNU_GETIR]
AS
BEGIN
    SELECT
        ML.*,
        PK.ad AS kaynak_ad,
        PK.kod AS kaynak_kod,
        POD.ad AS onceki_durum_ad,
        POD.kod AS onceki_durum_kod,
        PYD.ad AS yeni_durum_ad,
        PYD.kod AS yeni_durum_kod,
        PIT.ad AS islem_tur_ad,
        PIT.kod AS islem_tur_kod,
        PIS.ad AS islem_sonuc_ad,
        PIS.kod AS islem_sonuc_kod
    FROM dbo.MakinelerLoglar ML
    LEFT JOIN dbo.Parametreler PK
        ON ML.kaynak_parametre_id = PK.id
    LEFT JOIN dbo.Parametreler POD
        ON ML.onceki_durum_parametre_id = POD.id
    LEFT JOIN dbo.Parametreler PYD
        ON ML.yeni_durum_parametre_id = PYD.id
    LEFT JOIN dbo.Parametreler PIT
        ON ML.islem_tur_parametre_id = PIT.id
    LEFT JOIN dbo.Parametreler PIS
        ON ML.islem_sonuc_parametre_id = PIS.id
    WHERE ML.aktif_mi = 1
    ORDER BY ML.id DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ParametreGruplari_DOLDUR]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SP_ParametreGruplari_DOLDUR]
    @id INT
AS
BEGIN
    SELECT *
    FROM dbo.ParametreGruplari
    WHERE id = @id
      AND aktif_mi = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ParametreGruplari_EKLE]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SP_ParametreGruplari_EKLE]
    @kod NVARCHAR(50),
    @ad NVARCHAR(100),
    @aciklama NVARCHAR(250) = NULL,
    @sistem_mi BIT,
    @ekleyen_id INT,
    @ekleyen_ip NVARCHAR(20)
AS
BEGIN
    INSERT INTO dbo.ParametreGruplari
    (kod, ad, aciklama, sistem_mi, aktif_mi, ekleyen_id, ekleyen_ip, eklenme_tarih)
    VALUES
    (@kod, @ad, @aciklama, @sistem_mi, 1, @ekleyen_id, @ekleyen_ip, GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ParametreGruplari_GUNCELLE]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SP_ParametreGruplari_GUNCELLE]
    @id INT,
    @kod NVARCHAR(50),
    @ad NVARCHAR(100),
    @aciklama NVARCHAR(250) = NULL,
    @guncelleyen_id INT,
    @guncelleyen_ip NVARCHAR(20)
AS
BEGIN
    UPDATE dbo.ParametreGruplari
    SET
        kod = @kod,
        ad = @ad,
        aciklama = @aciklama,
        guncelleyen_id = @guncelleyen_id,
        guncelleyen_ip = @guncelleyen_ip,
        guncellenme_tarih = GETDATE()
    WHERE id = @id
      AND aktif_mi = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ParametreGruplari_SIL]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SP_ParametreGruplari_SIL]
    @id INT,
    @guncelleyen_id INT,
    @guncelleyen_ip NVARCHAR(20)
AS
BEGIN
    UPDATE dbo.ParametreGruplari
    SET
        aktif_mi = 0,
        guncelleyen_id = @guncelleyen_id,
        guncelleyen_ip = @guncelleyen_ip,
        guncellenme_tarih = GETDATE()
    WHERE id = @id
      AND sistem_mi = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ParametreGruplari_TUMUNU_GETIR]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SP_ParametreGruplari_TUMUNU_GETIR]
AS
BEGIN
    SELECT *
    FROM dbo.ParametreGruplari
    WHERE aktif_mi = 1
    ORDER BY id;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Parametreler_DOLDUR]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SP_Parametreler_DOLDUR]
    @id INT
AS
BEGIN
    SELECT *
    FROM dbo.Parametreler
    WHERE id = @id
      AND aktif_mi = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Parametreler_EKLE]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SP_Parametreler_EKLE]
    @parametre_grup_id INT,
    @kod NVARCHAR(50),
    @ad NVARCHAR(100),
    @aciklama NVARCHAR(250) = NULL,
    @sistem_mi BIT,
    @ekleyen_id INT,
    @ekleyen_ip NVARCHAR(20)
AS
BEGIN
    INSERT INTO dbo.Parametreler
    (parametre_grup_id, kod, ad, aciklama, sistem_mi, aktif_mi, ekleyen_id, ekleyen_ip, eklenme_tarih)
    VALUES
    (@parametre_grup_id, @kod, @ad, @aciklama, @sistem_mi, 1, @ekleyen_id, @ekleyen_ip, GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Parametreler_GRUBA_GORE_GETIR]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SP_Parametreler_GRUBA_GORE_GETIR]
    @parametre_grup_id INT
AS
BEGIN
    SELECT *
    FROM dbo.Parametreler
    WHERE parametre_grup_id = @parametre_grup_id
      AND aktif_mi = 1
    ORDER BY id;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Parametreler_GUNCELLE]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SP_Parametreler_GUNCELLE]
    @id INT,
    @parametre_grup_id INT,
    @kod NVARCHAR(50),
    @ad NVARCHAR(100),
    @aciklama NVARCHAR(250) = NULL,
    @guncelleyen_id INT,
    @guncelleyen_ip NVARCHAR(20)
AS
BEGIN
    UPDATE dbo.Parametreler
    SET
        parametre_grup_id = @parametre_grup_id,
        kod = @kod,
        ad = @ad,
        aciklama = @aciklama,
        guncelleyen_id = @guncelleyen_id,
        guncelleyen_ip = @guncelleyen_ip,
        guncellenme_tarih = GETDATE()
    WHERE id = @id
      AND aktif_mi = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Parametreler_KODDAN_GETIR]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SP_Parametreler_KODDAN_GETIR]
    @grup_kod NVARCHAR(50),
    @kod NVARCHAR(50)
AS
BEGIN
    SELECT TOP 1 P.*
    FROM dbo.Parametreler P
    INNER JOIN dbo.ParametreGruplari G
        ON P.parametre_grup_id = G.id
    WHERE G.kod = @grup_kod
      AND P.kod = @kod
      AND G.aktif_mi = 1
      AND P.aktif_mi = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Parametreler_SIL]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SP_Parametreler_SIL]
    @id INT,
    @guncelleyen_id INT,
    @guncelleyen_ip NVARCHAR(20)
AS
BEGIN
    UPDATE dbo.Parametreler
    SET
        aktif_mi = 0,
        guncelleyen_id = @guncelleyen_id,
        guncelleyen_ip = @guncelleyen_ip,
        guncellenme_tarih = GETDATE()
    WHERE id = @id
      AND sistem_mi = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Parametreler_TUMUNU_GETIR]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SP_Parametreler_TUMUNU_GETIR]
AS
BEGIN
    SELECT *
    FROM dbo.Parametreler
    WHERE aktif_mi = 1
    ORDER BY parametre_grup_id, id;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RoleCihazlar_DOLDUR]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_RoleCihazlar_DOLDUR]
    @id INT
AS
BEGIN
    SELECT *
    FROM dbo.RoleCihazlar
    WHERE id = @id
      AND aktif_mi = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RoleCihazlar_EKLE]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_RoleCihazlar_EKLE]
    @ad NVARCHAR(100),
    @ip NVARCHAR(20),
    @port INT,
    @kanal_sayisi INT,
    @ekleyen_id INT,
    @ekleyen_ip NVARCHAR(20)
AS
BEGIN
    INSERT INTO dbo.RoleCihazlar
    (
        ad,
        ip,
        port,
        kanal_sayisi,
        aktif_mi,
        ekleyen_id,
        ekleyen_ip,
        eklenme_tarih
    )
    VALUES
    (
        @ad,
        @ip,
        @port,
        @kanal_sayisi,
        1,
        @ekleyen_id,
        @ekleyen_ip,
        GETDATE()
    );
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RoleCihazlar_GUNCELLE]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_RoleCihazlar_GUNCELLE]
    @id INT,
    @ad NVARCHAR(100),
    @ip NVARCHAR(20),
    @port INT,
    @kanal_sayisi INT,
    @guncelleyen_id INT,
    @guncelleyen_ip NVARCHAR(20)
AS
BEGIN
    UPDATE dbo.RoleCihazlar
    SET
        ad = @ad,
        ip = @ip,
        port = @port,
        kanal_sayisi = @kanal_sayisi,
        guncelleyen_id = @guncelleyen_id,
        guncelleyen_ip = @guncelleyen_ip,
        guncellenme_tarih = GETDATE()
    WHERE id = @id
      AND aktif_mi = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RoleCihazlar_SIL]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_RoleCihazlar_SIL]
    @id INT,
    @guncelleyen_id INT,
    @guncelleyen_ip NVARCHAR(20)
AS
BEGIN
    UPDATE dbo.RoleCihazlar
    SET
        aktif_mi = 0,
        guncelleyen_id = @guncelleyen_id,
        guncelleyen_ip = @guncelleyen_ip,
        guncellenme_tarih = GETDATE()
    WHERE id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RoleCihazlar_TUMUNU_GETIR]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_RoleCihazlar_TUMUNU_GETIR]
AS
BEGIN
    SELECT *
    FROM dbo.RoleCihazlar
    WHERE aktif_mi = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Roller_DOLDUR]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Roller_DOLDUR]
	
	@id int

AS
BEGIN

	select * 
	from Roller
	where id=@id and aktif_mi=1;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Roller_EKLE]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Roller_EKLE]

	@ad NVARCHAR(50),
    @ekleyen_id INT,
    @ekleyen_ip NVARCHAR(20)

AS
BEGIN

	INSERT INTO dbo.Roller
    (
        ad,
        aktif_mi,
        eklenme_tarih,
        ekleyen_id,
        ekleyen_ip
    )
    VALUES
    (
        @ad,
        1,
        GETDATE(),
        @ekleyen_id,
        @ekleyen_ip
    );

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Roller_GUNCELLE]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Roller_GUNCELLE]

	@id INT,
    @ad NVARCHAR(50),
    @guncelleyen_id INT,
    @guncelleyen_ip NVARCHAR(20)

AS
BEGIN

		UPDATE dbo.Roller
		SET
        ad = @ad,
        guncelleyen_id = @guncelleyen_id,
        guncelleyen_ip = @guncelleyen_ip,
        guncellenme_tarih = GETDATE()
		WHERE id = @id;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Roller_MAX_ID_GETIR]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Roller_MAX_ID_GETIR]	

AS
BEGIN
	SELECT ISNULL(MAX(id), 0)
    FROM dbo.Roller;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Roller_SIL]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Roller_SIL]
	
	@id INT,
    @guncelleyen_id INT,
    @guncelleyen_ip NVARCHAR(20)

AS
BEGIN
	
		UPDATE dbo.Roller
		SET
        aktif_mi = 0,
        guncelleyen_id = @guncelleyen_id,
        guncelleyen_ip = @guncelleyen_ip,
        guncellenme_tarih = GETDATE()
		WHERE id = @id;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Roller_TUMUNU_GETIR]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Roller_TUMUNU_GETIR]
	
AS
BEGIN
	
	SET NOCOUNT ON;

	  SELECT *
      FROM Roller
	  where aktif_mi=1;
 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RolYetkiler_DOLDUR]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_RolYetkiler_DOLDUR]
	
	@roller_id INT,
    @sayfa_adi NVARCHAR(50)

AS
BEGIN
	
	SELECT *
	FROM dbo.RolYetkiler
    WHERE roller_id = @roller_id
    AND sayfa_adi = @sayfa_adi
    AND aktif_mi = 1;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_RolYetkiler_EKLE]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_RolYetkiler_EKLE]
	@roller_id INT,
    @sayfa_adi NVARCHAR(50),
    @getirme BIT,
    @ekleme BIT,
    @silme BIT,
    @guncelleme BIT,
    @aktif_mi BIT,
    @ekleyen_id INT,
    @ekleyen_ip NVARCHAR(20)
AS
BEGIN
	INSERT INTO dbo.RolYetkiler
    (
        roller_id,
        sayfa_adi,
        getirme,
        ekleme,
        silme,
        guncelleme,
        aktif_mi,
        eklenme_tarih,
        ekleyen_id,
        ekleyen_ip
    )
    VALUES
    (
        @roller_id,
        @sayfa_adi,
        @getirme,
        @ekleme,
        @silme,
        @guncelleme,
        @aktif_mi,
        GETDATE(),
        @ekleyen_id,
        @ekleyen_ip
    );
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RolYetkiler_GUNCELLE]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_RolYetkiler_GUNCELLE]

	@id INT,
    @roller_id INT,
    @sayfa_adi NVARCHAR(50),
    @getirme BIT,
    @ekleme BIT,
    @silme BIT,
    @guncelleme BIT,
    @aktif_mi BIT,
    @guncelleyen_id INT,
    @guncelleyen_ip NVARCHAR(20)

AS
BEGIN
		UPDATE dbo.RolYetkiler
		SET
        roller_id = @roller_id,
        sayfa_adi = @sayfa_adi,
        getirme = @getirme,
        ekleme = @ekleme,
        silme = @silme,
        guncelleme = @guncelleme,
        aktif_mi = @aktif_mi,
        guncelleyen_id = @guncelleyen_id,
        guncelleyen_ip = @guncelleyen_ip,
        guncellenme_tarih = GETDATE()
		WHERE id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RolYetkiler_SIL]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_RolYetkiler_SIL]
	
	@id INT

AS
BEGIN

	UPDATE dbo.RolYetkiler
    SET
    aktif_mi = 0,
    guncellenme_tarih = GETDATE()
    WHERE id = @id;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_RolYetkiler_TUMUNU_GETIR]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_RolYetkiler_TUMUNU_GETIR]
	

AS
BEGIN
	
	SELECT *
    FROM RolYetkiler
	WHERE aktif_mi=1;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_RolYetkiler_YETKI_VAR_MI]    Script Date: 25.09.2026 19:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_RolYetkiler_YETKI_VAR_MI]
	
	@roller_id INT,
    @sayfa_adi NVARCHAR(50),
    @islem_turu NVARCHAR(20)

AS
BEGIN
	
		DECLARE @yetki_var_mi BIT = 0;

		SELECT
		@yetki_var_mi = CASE @islem_turu
        WHEN 'Getirme' THEN getirme
        WHEN 'Ekleme' THEN ekleme
        WHEN 'Guncelleme' THEN guncelleme
        WHEN 'Silme' THEN silme
        ELSE 0
        END

    FROM dbo.RolYetkiler
    WHERE roller_id = @roller_id
      AND sayfa_adi = @sayfa_adi
      AND aktif_mi = 1;

    SELECT @yetki_var_mi;

END
GO
USE [master]
GO
