USE [master]
GO
/****** Object:  Database [ASY_MODBUS]    Script Date: 21.07.2026 00:24:17 ******/
CREATE DATABASE [ASY_MODBUS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ASY_MODBUS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ASY_MODBUS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ASY_MODBUS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ASY_MODBUS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASY_MODBUS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASY_MODBUS]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 21.07.2026 00:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[roller_id] [smallint] NULL,
	[ad] [nvarchar](50) NULL,
	[soyad] [nvarchar](50) NULL,
	[tckno] [nvarchar](11) NULL,
	[mail] [nvarchar](50) NULL,
	[sifre] [nvarchar](50) NULL,
	[cep_no] [nvarchar](15) NULL,
	[dogum_tarih] [date] NULL,
	[kayit_tarih] [date] NULL,
	[aktif_mi] [bit] NULL,
	[resim_yol] [nvarchar](max) NULL,
 CONSTRAINT [PK_Kullanicilar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roller]    Script Date: 21.07.2026 00:24:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roller](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NULL,
 CONSTRAINT [PK_Roller] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([id], [roller_id], [ad], [soyad], [tckno], [mail], [sifre], [cep_no], [dogum_tarih], [kayit_tarih], [aktif_mi], [resim_yol]) VALUES (1, 1, N'Ahmet Sungur', N'Yazıcı', N'12424527568', N'admin@gmail.com', N'123', N'(505) 566 2222', CAST(N'2026-07-17' AS Date), CAST(N'2026-07-14' AS Date), 1, N'Files/Images/Kullanicilar/F26E16FC38F7FDD6177DE93EFB893C5D.png')
INSERT [dbo].[Kullanicilar] ([id], [roller_id], [ad], [soyad], [tckno], [mail], [sifre], [cep_no], [dogum_tarih], [kayit_tarih], [aktif_mi], [resim_yol]) VALUES (2, 1, N'Alim', N'Yılmadı', N'14725836900', N'furkan.celik@modbus.com', N'123', N'(123)-456-0000', CAST(N'2026-07-17' AS Date), CAST(N'2026-07-16' AS Date), 1, N'Files/Images/Kullanicilar/maxresdefault.jpg')
INSERT [dbo].[Kullanicilar] ([id], [roller_id], [ad], [soyad], [tckno], [mail], [sifre], [cep_no], [dogum_tarih], [kayit_tarih], [aktif_mi], [resim_yol]) VALUES (3, 2, N'Ayşe', N'Demir', N'22233344455', N'ayse@test.com', N'123', N'5300000002', CAST(N'1995-08-20' AS Date), CAST(N'2026-07-16' AS Date), 1, N'Files/Images/Kullanicilar/d769227d-ea6e-44cf-9f1f-4e3b3b717c77.png')
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[Roller] ON 

INSERT [dbo].[Roller] ([id], [ad]) VALUES (1, N'Super Admin')
INSERT [dbo].[Roller] ([id], [ad]) VALUES (2, N'Saha Operatoru')
SET IDENTITY_INSERT [dbo].[Roller] OFF
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  CONSTRAINT [DF_Kullanicilar_kullanici_kayit_tarihi]  DEFAULT (getdate()) FOR [kayit_tarih]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  CONSTRAINT [DF_Kullanicilar_kullanici_aktif_mi]  DEFAULT ((1)) FOR [aktif_mi]
GO
ALTER TABLE [dbo].[Kullanicilar]  WITH CHECK ADD  CONSTRAINT [FK_Kullanicilar_Roller] FOREIGN KEY([roller_id])
REFERENCES [dbo].[Roller] ([id])
GO
ALTER TABLE [dbo].[Kullanicilar] CHECK CONSTRAINT [FK_Kullanicilar_Roller]
GO
USE [master]
GO
