<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPage.Master.cs" Inherits="AsyModbus.MasterPages.Site" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Master Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../Styles/MasterPage.css" rel="stylesheet" />
    <link href="../Styles/ucMyGrid.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">

        <div style="display: none;">
            <asp:Label
                ID="lbl_success"
                runat="server"
                ClientIDMode="Static">
            </asp:Label>
            <asp:Label
                ID="lbl_warning"
                runat="server"
                ClientIDMode="Static">
            </asp:Label>
            <asp:Label
                ID="lbl_info"
                runat="server"
                ClientIDMode="Static">
            </asp:Label>
            <asp:Label
                ID="lbl_error"
                runat="server"
                ClientIDMode="Static">
            </asp:Label>
        </div>

        <div class="container-fluid">

            <div class="row">

                <div class="col-12 col-md-2 menüdiv w-auto">

                    <asp:Image
                        ImageUrl="~/Files/Images/Icons/logo.png"
                        CssClass="image img-fluid"
                        runat="server" />

                    <a href="../Default.aspx"
                        class="menu-link d-flex align-items-center gap-3 text-decoration-none px-3 py-2 text-dark">

                        <i class="fa-solid fa-house"></i>
                        <span class="menu-label">ANA SAYFA</span>

                    </a>

                    <a href="../Pages/KullaniciListele.aspx"
                        class="menu-link d-flex align-items-center gap-3 text-decoration-none px-3 py-2 text-dark">

                        <i class="fa-solid fa-users"></i>
                        <span class="menu-label">KULLANICI LİSTELE</span>

                    </a>

                    <a href="../Pages/KullaniciEkle.aspx"
                        class="menu-link d-flex align-items-center gap-3 text-decoration-none px-3 py-2 text-dark">

                        <i class="fa-solid fa-user-plus"></i>
                        <span class="menu-label">KULLANICI EKLE</span>

                    </a>

                    <a href="../Pages/MakineListele.aspx"
                        class="menu-link d-flex align-items-center gap-3 text-decoration-none px-3 py-2 text-dark">

                        <i class="fa-solid fa-bars"></i>
                        <span class="menu-label">MAKİNE LİSTELE</span>

                    </a>

                    <a href="../Pages/MakineEkle.aspx"
                        class="menu-link d-flex align-items-center gap-3 text-decoration-none px-3 py-2 text-dark">

                        <i class="fa-solid fa-plus"></i>
                        <span class="menu-label">MAKİNE EKLE</span>

                    </a>

                    <a href="../Pages/LogListele.aspx"
                        class="menu-link d-flex align-items-center gap-3 text-decoration-none px-3 py-2 text-dark">

                        <i class="fa-solid fa-font-awesome"></i>
                        <span class="menu-label">LOG LİSTELE</span>

                    </a>

                     <a href="../Pages/RolIslemleri.aspx"
                        class="menu-link d-flex align-items-center gap-3 text-decoration-none px-3 py-2 text-dark">

                       <i class="fa-solid fa-users-gear"></i>
                        <span class="menu-label">ROL İŞLEMLERİ</span>

                    </a>

                     <a href="../Pages/RolYetkileri.aspx"
                        class="menu-link d-flex align-items-center gap-3 text-decoration-none px-3 py-2 text-dark">

                       <i class="fa-solid fa-fingerprint"></i>
                        <span class="menu-label">YETKİLENDİRME</span>

                    </a>

                    <div class="cikis-div d-flex align-items-center gap-3 px-3 py-2">

                        <asp:LinkButton
                            ID="btnCikis"
                            runat="server"
                            OnClick="btnCikis_Click"
                            CssClass="text-decoration-none  text-dark">

        <i class="fa-solid fa-arrow-right-from-bracket"></i>

                        </asp:LinkButton>

                        <asp:HyperLink
                            ID="hlAdSoyad"
                            runat="server"
                            NavigateUrl="~/Pages/ProfilDuzenle.aspx"
                            CssClass="menu-label text-decoration-none text-dark">
                        </asp:HyperLink>

                    </div>


                </div>

                <div class="col-12 col-md-10 ortakdiv">

                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>

                </div>
            </div>
        </div>

        <script>
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };/* https://codeseven.github.io/toastr/demo.html */

            var successMesaji = document.getElementById("lbl_success").innerText;
            var warningMesaji = document.getElementById("lbl_warning").innerText;
            var infoMesaji = document.getElementById("lbl_info").innerText;
            var errorMesaji = document.getElementById("lbl_error").innerText;

            if (successMesaji != "") {
                toastr.success(successMesaji);
            }
            if (warningMesaji != "") {
                toastr.warning(warningMesaji);
            }
            if (infoMesaji != "") {
                toastr.info(infoMesaji);
            }
            if (errorMesaji != "") {
                toastr.error(errorMesaji);
            }

        </script>
    </form>
</body>
</html>
